*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* Contenido */
.container{
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
    background-image: url(background.jpeg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title{
    margin: 1rem auto;
    text-align: center;
    font-size: 2rem;
}
.description{
    margin: auto 24%;
    font-size: 1.4rem;
}
.btns{
   margin-top: 1.5rem;
    text-align: center;
}
 .btns a{
    border: none;
    border-radius: 5px;
    background: rgb(201, 108, 200);
    padding: 10px 12px;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    font-weight:600;
    text-transform: uppercase;
    transition: all 0.6s;
}
 .btns a:hover{
    background: rgba(201, 125, 200, 0.65);
    color: rgb(255, 255, 255);
}
.map{
    text-align: center;
}


  
  /* NAVBAR RESPONSIVE */
  ul{list-style: none;}

  .header{
    background-color: #CBDDD1;
    box-shadow: 1px 1px 5px 0px #726659;
    position: sticky;
    top: 0;
    width: 100%;
  }
  .logo{
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    margin: 5px 10px;
    text-decoration: none;
  }
  .nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: inherit;
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
  }
  .menu a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 0;
    align-items: center;
    color: white;
    text-transform: uppercase;
    
  }
  .menu a:hover{
    background-color:#95d2a1;
  }
  .hamb{
    cursor: pointer;
    float: right;
    padding: 25px;
  }
  .hamb-line{
    background-color: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
  }
  .hamb-line::before,
  .hamb-line::after{
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  .hamb-line::before{
    top: 5px;
  }
  .hamb-line::after{
    top: -5px;
  }
  .side-menu{
    display: none;
  }
  .side-menu:checked ~ nav{
    max-height: 100%;
  }
  .side-menu:checked ~ .hamb .hamb-line{
    background: transparent;
  }
  .side-menu:checked ~ .hamb .hamb-line::before{
    transform: rotate(-45deg);
    top: 0;
  }
  .side-menu:checked ~ .hamb .hamb-line::after{
    transform: rotate(45deg);
    top: 0;
  }
  @media (min-width: 768px) {
    .nav{
      max-height: none;
      top: 0;
      position: relative;
      float: right;
      width: fit-content;
      background-color: transparent;
    }
    .menu li{
      float: left;
    }
    .menu a:hover{
      background-color: transparent;
      color: rgb(139, 126, 253);
    }
    .hamb{
      display: none;
    }
  }
  @media (max-width: 408px){
    .hamb{
      padding: 0;
      position: absolute;
      top: 25px;
      right: 20px;
    }
    .logo{
      font-size: 1.5rem;
    }
  }